body {
	background: #ffffcc;
	height: 750px;
	width: 1000px;
	border: 2px solid black;
	margin: 0 auto;
}
#container {
	width: 80%;
	margin: 0 auto;
}
#header {
	height: 100px;
}
img{
	float: left;
	padding-top: 10px;
}
#banner {
	width: 69%;
	float: left;
	margin-left: 50px;
	/*text-shadow: 2px 2px red;*/
}
#content {
	height: 500px;
	margin-top: 80px;
}
#footer {
	height: 50px;
	text-align: right;
	float: right;
}

