table {
	border: 1px solid black;
	width: 600px;
	border-collapse: collapse;
	margin: 0 auto;
}
td, th {
	border: 1px solid black;
}
thead, tfoot {
	background: #ada;
}
td {
	text-align: center;
	background: #ffffcc;
}
/*td:nth-child(even) {
	background: green;
}*/