body {
	background-image: linear-gradient(to bottom, white,#ada);
	height: 750px;
	width: 800px;
	margin: 0 auto;
	margin-top: 10px;
	/*border: 1px solid black;
	border-radius: 20px;
	box-shadow: 4px 4px 6px black;*/
}
#container {
	width: 90%;
	height: 90%;
	padding: 20px;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 4px 4px 6px black;
	background: white;
	/*background: white;*/
	/*border: 2px solid blue;*/
}
#header {
	height: 130px;
	padding: 5px;
	border-bottom: 2px solid black;
}
img{
	float: left;
	padding-top: 10px;
}
#banner {
	width: 69%;
	float: left;
	margin-left: 50px;
	/*text-shadow: 2px 2px red;*/
}
#content {
	height: 420px;
	margin-top: 40px;
}
#footer {
	height: 50px;
	text-align: right;
	float: right;
	clear: both;
	border-top: 2px solid black;
	width: 100%;
}

